*{
    padding: 0;
    margin: 0;
}
.header_container{
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #191d28;
}
.header_container>div:nth-child(1){
    width: 19%;
}
.header_container>div:nth-child(1)>img{
    width: 100%;
    height: 60%;
    margin-top: 20px;
}
.header_mid{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 20%;
    padding-top: 15px;
}
.header_mid>div{
    display: flex;
    border:  2px solid #2e3241;
    height: 20px;
    padding: 10px;
    background-color:#2e3241;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.header_mid>div>p{
    margin-right: 5px;
}
.header_end{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 10px;
    width: 23%;  
}
.header_end>div:nth-child(1){
    border: 4px double white;
    height: 20px;
    padding: 10px;
    width: 20px;
    border-radius: 50%;
}
.header_end>div:nth-child(2){
    display: flex;
    height: 20px;
    padding: 10px;
    background-color: #3dc6c1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
}
.toggle{
    background-color:#2e3241 ;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    margin-top: 10px;
}
.toggle_left{
    height: 20px;
    width: 20px;
    background-color: #3dc6c1;
    border-radius: 20px;
    margin: 5px;
}
.toggle_right{
    height: 20px;
    width: 20px;
    background-color: #3dc6c1;
    border-radius: 20px;
    margin: 5px 2px 5px 30px;
}

@media screen  and (min-width:700px){
    .header_container{
        height: auto;
    }
    .header_container>div:nth-child(1){
        width: 250px;
    }
    .header_mid{
        flex-wrap: wrap;
        justify-content: center; 
        width: auto;
    }
    .header_mid>div{
        height: 13px;
        font-size: 15px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
    .header_end{
        width: auto; 
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .header_end>div{
        margin-right: 20px;
    }
    .header_end>div:nth-child(1){
        height: 20px;
        padding: 5px;
    }
    .header_end>div:nth-child(2){
        height: 20px;
        padding: 8px;
        font-size: 16px;
        font-weight: 600;
    }
    .toggle{
        height: 30px;
        width: 50px;
    }
    .toggle_left{
        height: 18px;
        width:18px;
    }
    .toggle_right{
        height: 18px;
        width: 18px;
    }
    
}

@media screen  and (min-width:200px) and (max-width:699px){
    .header_container{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .header_container>div:nth-child(1){
        width: 100%;
    }
    .header_container>div:nth-child(1)>img{
        width: 50%;
    }
    .header_mid{
        flex-wrap: wrap;
        justify-content: center; 
        width: 100%;
    }
    .header_mid>div{
        height: 13px;
        font-size: 15px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
    .header_end{
        width: 100%; 
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .header_end>div{
        margin-right: 20px;
    }
    .header_end>div:nth-child(1){
        height: 20px;
        padding: 5px;
    }
    .header_end>div:nth-child(2){
        height: 20px;
        padding: 8px;
        font-size: 16px;
        font-weight: 600;
    }
    .toggle{
        height: 30px;
        width: 50px;
    }
    .toggle_left{
        height: 18px;
        width:18px;
    }
    .toggle_right{
        height: 18px;
        width: 18px;
    }
    
}